{% extends "problems/submission_widget.html" %}

{% block problem_title %}
    {{ block.super }}
{% endblock %}

{% if user.is_instructor and not request.session.viewing_as.is_student and not user.use_simpleui %}
{% block instructor_options %}
    <span class="widget_controls">
        <a href="{{ problem.get_absolute_url }}" title="Edit"><i
                class="pencil-icon"></i><span
                class="at">Edit {{ problem.name }}"</span></a>

        <a href="{{ problem.get_monitoring_url }}" title="Monitor submissions"><i
                class="stats-icon"></i><span
                class="at">Statistics for {{ problem.name }}</span></a>
    </span>
{% endblock %}
{% endif %}

{% block history %}
    {% include "problems_multiple_choice/submission_history.html" %}
{% endblock %}
