{% extends "problems/submission.html" %}

{% load staticfiles %}
{% block scripts %}
    {{ block.super }}
    {% load staticfiles %}
    {% include "problems/code_problem_scripts.html" %}
    {% include "problems/visualizer_python_includes.html" %}
    <!-- requirements for pytutor.js -->
    {% load compress %}
    {% compress js %}
        <script src="{% static "visualizer/python/pytutor.js" %}" type="text/javascript"></script>
        <script src="{% static "visualizer/python/d3.v2.min.js" %}" type="text/javascript"></script>
        <!-- <script src=" static "visualizer/python/jquery-1.8.2.min.js" %}"type="text/javascript"></script> -->
        <script src="{% static "visualizer/python/jquery.jsPlumb-1.3.10-all-min.js" %}" type="text/javascript"></script> <!-- for rendering SVG connectors. DO NOT UPGRADE ABOVE 1.3.10 OR ELSE BREAKAGE WILL OCCUR -->
        <script src="{% static "visualizer/python/jquery-ui-1.8.24.custom.min.js" %}" type="text/javascript"></script> <!-- for sliders and other UI elements -->
    {% endcompress %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "visualizer/python/pytutor.css" %}" type="text/css"/>
        <link rel="stylesheet" href="{% static "visualizer/python/jquery-ui-1.8.24.custom.css" %}" type="text/css" />
    {% endcompress %}
{% endblock %}

{% block stylesheets %}
    {{ block.super }}
    {% include "problems/code_problem_stylesheets.html" %}
{% endblock %}

{% block page_title %}
{% endblock %}

{% block content %}

    {% include "problems_python/code_trace.html" %}

    <div id="{{ problem.get_problem_type_name }}-{{ problem.pk }}" class="code-mirror-wrapper">
        {% include "problems_python/submission_widget.html" %}
    </div>

{% endblock %}
