{% extends "pcrs/item_form.html" %}

{% block page_title %}
    {% if object %}
        Edit Problem
    {% else %}
        Create Problem
    {% endif %}
{% endblock %}

{% load static %}
{% load compress %}
{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script type="text/javascript" src="{% static 'csrf_protection.js' %}"></script>
        <script type="text/javascript" src="{% static 'jquery-ui-1.10.4/js/jquery-ui-1.10.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'multi-select/js/jquery.multi-select.js' %}"></script>
        <script type="text/javascript" src="{% static 'multi-select/js/jquery.quicksearch.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap_less/bootstrap-3.2.0/js/modal.js' %}"></script>
        <script type="text/javascript" src="{% static 'problems/js/problem_form.js' %}"></script>
    {% endcompress %}
{% endblock %}

{% block stylesheets %}
    {% compress css %}
        {# Necessary for modal windows #}
        <link rel="stylesheet" href="{% static "less/problem_form.css" %}">
        <link rel="stylesheet" href="{% static 'multi-select/css/multi-select.css' %}">
        <link rel="stylesheet" href="{% static 'problems/css/style.css' %}">
    {% endcompress %}
{% endblock %}

{% block related_items %}
    {% if object %}
        {% with list_name='Testcases' object_list=object.testcase_set.all related_item_name='testcase' %}
            {% include "pcrs/related_items.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
    {{ block.super }}
    {% include "problems/AlertModal.js.html" %}
{% endblock %}

